<!-- bil sidder lidt sjovt og er måske forkert størrelse, ved ikke hvad der er nemmest ifht at skulle animere -->
<img src="skraldebil1.svg" alt="" class="h-28 w-28" />

<!--  den skraldebil der tømmes 
<img src="skraldebil2.svg" alt="" /> 
-->

<p class="m-11">
  Hvert år ender mere end 8 millioner tons plastik i verdenshavene, hvilket
  svarer til at dumpe en skraldebil fyldt med plastik hvert minut. Op til 80
  procent af alt affald i vores have består af plastik.
</p>
