---
import Button from "./Button.astro"
---
<div class="flex flex-row flex-wrap gap-8 text-white">
    <div>
    <h4 class="font-bold">Bank</h4>
    <ul>
        <li>CVR. 35778985</li>
        <li>Konto. 8411 0002039618</li>
        <li>MobilePay. 304961</li>
        <li>SWIFT. FAELDKK1</li>
        <li>IBAN. DK3584110002039618</li>
    </ul>
</div>
<div>
    <h4 class="font-bold">Andet</h4>
    <ul>
        <li>Webshop</li>
        <li>Privatlivspolitik</li>
        <li>Betalingspolitik</li>
    </ul>
</div>

<div>
    <h4 class="font-bold">Støt nu</h4>
    <ul>
        <li>Giv et bidrag </li>
        <li>Bliv medlem</li>
        <li>Lav et testamente</li>
        <li>Støt som virksomhed</li>
    </ul>
</div>
<div class="w-6 ml-24">
    <img src="../../public/instagramm.png" alt=""     >
    <img src="../../public/youtubee.png" alt="">
    <img src="../../public/linkedinn.png" alt="">
    <img src="../../public/twitterx.png" alt="">
    <img src="../../public/face.png" alt="">
</div>
</div>
<div>
    <h4 class="text-white font-bold">Tilmeld dig vores nyhedsbrev</h4>
    <form action="" class="text-orange ">
        <label for="" class="text-orange "></label>
        <input type="text" placeholder="Skriv din email her" class="border-4 rounded-full border-orange">
    </form>
    <Button>Tilmeld</Button>
</div>
  <div class="text-white flex flex-row">
    <p>Privatlivspolitik</p>
    <p>Betalingspolitik</p>
  </div>