---
import Button from "./Button.astro"
---
<div class="flex flex-row mb-10">
<img src="../../public/affald1.svg" alt="" class="left-4 absolute w-24">
<img src="../../public/affald2.svg" alt="" class="absolute w-24 left-24">
<img src="../../public/affald3.svg" alt="" class="absolute w-24 left-32">
<img src="../../public/affald4.svg" alt="" class="absolute w-24 left-44">
<img src="../../public/affald5.svg" alt="" class="absolute w-24 left-60 rotate-45">
<img src="../../public/affald1.svg" alt="" class="left-72 absolute w-24">
<img src="../../public/affald4.svg" alt="" class="absolute w-24  rotate-180">
<img src="../../public/affald3.svg" alt="" class="absolute w-24 left-[300px] rotate-45 ">





</div>
<div class="jimmy pt-32">

    <div class="flex flex-row flex-wrap gap-8 text-white mb-14 mx-5 md:justify-center md:items-center md:gap-28">
    <div>
    <h4 class="font-bold text-lg mb-2">Bank</h4>
    <ul class="space-y-2">
        <li>CVR. 35778985</li>
        <li>Konto. 8411 0002039618</li>
        <li>MobilePay. 304961</li>
        <li>SWIFT. FAELDKK1</li>
        <li>IBAN. DK3584110002039618</li>
    </ul>
</div>
<div>
    <h4 class="font-bold text-lg mb-2">Andet</h4>
    <ul class="space-y-2">
        <li>Webshop</li>
        <li>Privatlivspolitik</li>
        <li>Betalingspolitik</li>
    </ul>
</div>

<div>
    <h4 class="font-bold text-lg mb-2">Støt nu</h4>
    <ul class="space-y-2"> 
        <li>Giv et bidrag </li>
        <li>Bliv medlem</li>
        <li>Lav et testamente</li>
        <li>Støt som virksomhed</li>
    </ul>
</div>
<div class="w-6 ml-24 space-y-2">
    <img src="../../public/instagramm.png" alt=""     >
    <img src="../../public/youtubee.png" alt="">
    <img src="../../public/linkedinn.png" alt="">
    <img src="../../public/twitterx.png" alt="">
    <img src="../../public/face.png" alt="">
</div>
</div>
<div class="mx-5 mb-14 md:justify-center md:items-center md:flex">
    <h4 class="text-white font-bold mb-3">Tilmeld dig vores nyhedsbrev</h4>
    <div class="flex gap-4">
    <form action="" class="text-orange">
        <label for="" class="text-orange "></label>
        <input type="text" placeholder="Skriv din email her" class="border-4 rounded-full border-orange ">
    </form>
    <Button>Tilmeld</Button></div>
</div>
  <div class="text-white flex flex-row justify-center items-center gap-6">
    <p>Privatlivspolitik</p>
    <p>Betalingspolitik</p>
  </div>
</div>


<style>
    .jimmy {
        background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
    }
</style>-