---
import Button from "./Button.astro"
---



<div class="flex flex-col">
<h1>PLASTIC</h1>
<h2 class="underline underline-offset-4">CHANGE</h2>
<h3>Sammen om en verden <b>uden</b> plastikforurening </h3>
</div>

<div class="flex flex-row">
<Button> LÆS MERE OM OS her...</Button>
<Button> STØT</Button>

</div>