---
import Button from "./Button.astro"
---



<div class="flex flex-col justify-center items-center mt-16">
    <div class="text-5xl flex flex-col font-bold ">
<h1 class="text-white">PLASTIC</h1>
<h2 class="underline underline-offset-4 text-orange">CHANGE</h2>
</div>
<h3 class="text-white">Sammen om en verden <b>uden</b> plastikforurening </h3>
</div>

<div class="flex flex-row justify-center items-center gap-x-5">
<Button variant="secondary"> LÆS MERE OM OS</Button>
<Button>♥ STØT</Button>

</div>



    <img src="../../public/birds.svg" alt=""><div class="flex flex-col">
<p>DYK NED</p>
<p>pil</p>
<!-- affald --></div>

<img src="../../public/boatman.svg" alt="">
<