<div class="flex justify-center items-center">
  <img src="fiskenet_1.svg" alt="" class="m-8" />
</div>
<p class="m-11">
  Hvert år udledes der omkring 8-10 millioner tons plastik til havet på
  verdensplan, og fortsætter det, risikerer vi, at der allerede i 2025 være 1
  ton plastik i havet for hver 3 tons fisk.
</p>
