<div class="relative text-white mt-10">
  <img src="/box.png" alt="" class="px-4 h-full" />

  <div class="absolute top-10 left-16 right-12">
    <div class="text-center">
      <p class="text-4xl">03.</p>
      <h2 class="font-bold">HVILKEN FORSKEL GØR PLASTIC CHANGE?</h2>
    </div>
    <!-- 
    <ul
      class="text-left mx-14 list-decimal space-y-6 mb-10 flex flex-col justify-center items-center"
    >
    -->
    <ul class="text-left max-w-sm list-disc space-y-6 mb-6">
      <li>
        Vi fortæller om udfordringerne ved plastik og plastikforureningens
        omfang, og konsekvenser for vores vand- og havmiljø.
      </li>

      <li>
        Vi mobiliserer mennesker til at bidrage og engagere sig i kampen mod
        plastikspild.
      </li>

      <li>
        Vi arbejder for at sætte udfordringerne med plastik på den politiske
        dagsorden og søger politisk indflydelse i Danmark, EU og globalt.
      </li>

      <li>
        Vi arbejder med innovative industriledere, produktdesignere og forskere,
        for at finde løsninger på plastikspild og plastikforurening.
      </li>
    </ul>
  </div>
</div>
