<!-- der skal billeder ind her, grid?? -->
<div class="my-12 mx-5">
  <div
    class="text-white space-y-2 flex flex-col justify-center items-center mt-10 md:mx-96"
  >
    <div class="space-y-2 flex flex-col justify-center items-center">
      <p class="text-4xl font-anek">04.</p>
    </div>
    <h2 class="font-bold text-2xl pb-8">Hvad kan du gøre</h2>
    <div class="grid grid-cols-2 gap-6 font-anek">
      <div>
        <h3 class="font-bold pb-2 text-orange">1. En begyndelse</h3>
        <p>
          Start med små ændringer i din hverdag, såsom at reducere dit
          plastikforbrug og genbruge materialer.
        </p>
      </div>
      <img src="pic1.svg" alt="" class="w-3/4 ml-3" />
      <img src="pic2.svg" alt="" class="w-3/4 mr-1" />
      <div>
        <h3 class="font-bold pb-2 text-orange">2. Engager</h3>
        <p>
          Arranger eller støt op om lokale initiativer, såsom affaldsoprydninger
          eller oplysningskampagner om plastikforurening.
        </p>
      </div>

      <div>
        <h3 class="font-bold pb-2 text-orange">3. Sociale medier</h3>

        <p>
          Del dine handlinger og engagement med andre for at inspirere dem til
          at handle. Brug sociale medier eller deltag i lokale arrangementer.
        </p>
      </div>
      <img src="pic3.svg" alt="" class="w-3/4 ml-3" />
    </div>
  </div>
</div>
