<div
  class="text-white space-y-2 flex flex-col justify-center items-center mt-10"
>
  <h2 class="text-center text-xl font-bold mb-7">
    Flere <span class="text-orange">undersøgelser</span> viser blandt andet
  </h2>
  <br />
  <img src="skilpadderplastik.svg" class="m-8" alt="skilapddegrafik " />
  <p class="mx-5">
    At forureningen har store konsekvenser for dyrelivet. F.eks. har en nylig
    undersøgelse fra <span class="italic">
      University of Essex og Plymouth Marine Laboratory
    </span>fundet plastik i 102 ud af 102 havskildpadder fra hhv. Atlanterhavet,
    Middelhavet og Stillehavet.
  </p>
</div>
