<div class="flex justify-center items-center">
  <div class="md:grid md:grid-cols-2">
    <img src="nettet.svg" alt="" class="mx-8 md:mx-24" />
    <p
      class="text-white mx-5 mb-32 mt-10 md:mt-56 md:mx-24 md:ml-30 md:text-xl"
    >
      Hvert år udledes der omkring 8-10 millioner tons plastik til havet på
      verdensplan, og fortsætter det, risikerer vi, at der allerede i 2025 være
      1 ton plastik i havet for hver 3 tons fisk.
    </p>
    <!-- ved ikke hvad der er pænest
    <img src="nettet.svg" alt="" class="mx-8 md:mx-24" />
     -->
  </div>
</div>

<p class="text-white mx-5 mb-32 mt-10 font-anek">
  Hvert år udledes der omkring 8-10 millioner tons plastik til havet på
  verdensplan, og fortsætter det, risikerer vi, at der allerede i 2025 være 1
  ton plastik i havet for hver 3 tons fisk.
</p>
