<p>03.</p>
<h2>Hvilken forskel plastic change gør</h2>

<ul>
  <li>
    Vi fortæller om udfordringerne ved plastik og plastikforureningens omfang,
    og konsekvenser for vores vand- og havmiljø.
  </li>

  <li>
    Vi mobiliserer mennesker til at bidrage og engagere sig i kampen mod
    plastikspild.
  </li>

  <li>
    Vi arbejder for at sætte udfordringerne med plastik på den politiske
    dagsorden og søger politisk indflydelse i Danmark, EU og globalt.
  </li>

  <li>
    Vi arbejder med innovative industriledere, produktdesignere og forskere, for
    at finde løsninger på plastikspild og plastikforurening.
  </li>
</ul>
