<div class="flex justify-center items-center">
  <img src="nett.svg" alt="" class="mx-8" />
</div>
<p class="text-white mx-5 mb-32 mt-10 font-anek ">
  Hvert år udledes der omkring 8-10 millioner tons plastik til havet på
  verdensplan, og fortsætter det, risikerer vi, at der allerede i 2025 være 1
  ton plastik i havet for hver 3 tons fisk.
</p>
