<!-- der skal billeder ind her, bare i tvivl om det skal være i list eller udefra :)) -->
<p>04.</p>
<h2>Hvad kan du gøre</h2>

<ol>
  <li>
    <h3>En begyndelse</h3>
    <p>
      Start med små ændringer i din hverdag, såsom at reducere dit
      plastikforbrug og genbruge materialer.
    </p>
  </li>

  <li>
    <h3>Engager</h3>
    <p>
      Arranger eller støt op om lokale initiativer, såsom affaldsoprydninger
      eller oplysningskampagner om plastikforurening.
    </p>
  </li>

  <li>
    <h3>Sociale medier</h3>
    <p>
      Del dine handlinger og engagement med andre for at inspirere dem til at
      handle. Brug sociale medier eller deltag i lokale arrangementer.
    </p>
  </li>

  <li></li>
</ol>
