<div class="mt-36 md:mx-72">
  <div class="md:flex gap-0">
    <div class="text-white space-y-2 flex flex-col justify-center items-center">
      <p class="text-4xl text-orange font-anek">01.</p>
      <p class="font-bold text-2xl">Hvad er plastikforurening?</p>
      <p class="font-anek mx-5">
        Plastikforurening opstår, når plastikmaterialer ikke bortskaffes korrekt
        og ender i naturen, såsom i oceaner, floder og på landjorden. Problemet
        med plastikforurening ligger i, at plastik ikke nedbrydes naturligt,
        hvilket fører til alvorlige konsekvenser for miljøet og dyrelivet.
      </p>
    </div>

    <div>
      <img src="/skill.svg" alt="Skildpadde" />
    </div>
  </div>

  <div class="text-white mt-8 md:flex md:mt-0 md:flex-row-reverse">
    <div class="space-y-2 flex flex-col justify-center items-center">
      <p class="text-4xl text-orange font-anek">02.</p>
      <p class="font-bold text-2xl">Problemt med plastikforurening</p>
      <p class="mx-5 font-anek md:ml-20">
        Plastikforurening skaber farlige situationer for marine dyr, der kan
        blive fanget i plastikaffald eller forveksle det med mad. Når plastik
        nedbrydes til mikroplastik, kan det forurene drikkevand og fødekæden,
        hvilket potentielt påvirker menneskers sundhed.
      </p>
    </div>

    <div class="flex justify-center my-20 gap-3">
      <div class="space-y-12 mt-5 font-anek">
        <p>Mikroplast</p>
        <p>Stjerner</p>
      </div>
      <img
        src="sec.png"
        alt="infografik"
        class="w-[280px] md:w-[800px] md:mr-20"
      />
    </div>
  </div>

  <div class="mx-5 text-white font-anek md:pr-[55%]">
    <p>
      Op til 51 billioner mikroplastikpartikler - 500 gange flere end stjernerne
      i vores galakse - forurener vores have og hav, og truer alvorligt det
      marine dyreliv.
    </p>
  </div>
</div>
