<div class="flex justify-center items-center md:mx-32 jsani3">
  <div class="md:grid md:grid-cols-2">
    <img src="nettet.svg" alt="" class="mx-8 md:mx-24" />
    
    <p class="text-white mx-5 mb-12 mt-10 md:mt-[10rem] md:mx-24 md:ml-30 md:my-12">
      Hvert år udledes der omkring 8-10 millioner tons plastik til havet på
      verdensplan, og fortsætter det, risikerer vi, at der allerede i 2025 være
      1 ton plastik i havet for hver 3 tons fisk.
    </p>
    <!-- ved ikke hvad der er pænest
    <img src="nettet.svg" alt="" class="mx-8 md:mx-24" />
     -->
  </div>
</div>


<script>

import { inView } from "motion";

const jsani3 = document.querySelector(".jsani3");

inView(jsani3, () => {
  jsani3.classList.add("animate__animated", "animate__fadeInDown");
});

</script>
