
<div class="text-white my-32">

<div class="border-4 bg-[#193268] rounded-[40px] py-6 mx-3 md:mx-[335px]">

  <div class="text-center">
   <p class="text-4xl pr-[284px] mb-1 md:mt-3">03.</p>
   <h2 class="font-bold pb-4">HVILKEN FORSKEL PLASTIC CHANGE GØR</h2>
  </div>

<ul class="px-10 list-decimal space-y-6 mb-10 flex flex-col justify-center items-center pr-5 md:px-32 md:pl-[11rem] md:mb-5">
  <li>
    Vi fortæller <span class="text-orange"> om udfordringerne ved plastik </span> og plastikforureningens omfang, og konsekvenser for vores vand- og havmiljø.
  </li>

  <li>
    Vi mobiliserer mennesker til at <span class="text-orange"> bidrage og engagere </span> sig i kampen mod
    plastikspild.
  </li>

  <li>
    Vi arbejder for at sætte udfordringerne med plastik på den politiske
    dagsorden og søger politisk indflydelse i <span class="text-orange"> Danmark, EU og globalt.</span>
  </li>

  <li>
    Vi arbejder med innovative <span class="text-orange"> industriledere, produktdesignere og forskere,</span> for
    at finde løsninger på plastikspild og plastikforurening.
  </li>
</ul>

</div>

</div>
