<div
  class="text-white space-y-2 flex flex-col justify-center items-center mt-10"
>
  <img src="fiskenet_1.svg" alt="" class="max-w-xs" />
  <p class="mx-5">
    Hvert år udledes der omkring 8-10 millioner tons plastik til havet på
    verdensplan, og fortsætter det, risikerer vi, at der allerede i 2025 være 1
    ton plastik i havet for hver 3 tons fisk.
  </p>
</div>

<!--  
  <img src="fiskenet_1.svg" alt="" class="justify-center items-center" />

  <p class="">
    Hvert år udledes der omkring 8-10 millioner tons plastik til havet på
    verdensplan, og fortsætter det, risikerer vi, at der allerede i 2025 være 1
    ton plastik i havet for hver 3 tons fisk.
  </p>
</div>
-->
