
<div class="my-32">
<h2 class="text-center text-3xl font-bold text-white">
  Flere <span class="text-orange">undersøgelser</span> viser...
</h2>
<img src="skilpadderplastik.svg" class="m-8" alt="skilapddegrafik " />
<p class="mx-5 text-white font-anek ">
  At forureningen har store konsekvenser for dyrelivet. F.eks. har en nylig
  undersøgelse fra <span class="italic">
    University of Essex og Plymouth Marine Laboratory
  </span>fundet plastik i 102 ud af 102 havskildpadder fra hhv. Atlanterhavet,
  Middelhavet og Stillehavet.
</p>
</div>