<h2>Flere undersøgelse viser...</h2>
<img src="skilpadderplastik.svg" alt="" />
<p>
  At forureningen har store konsekvenser for dyrelivet. F.eks. har en nylig
  undersøgelse fra University of Essex og Plymouth Marine Laboratory fundet
  plastik i 102 ud af 102 havskildpadder fra hhv. Atlanterhavet, Middelhavet og
  Stillehavet.
</p>
