---
import Button from "./Button.astro";
---

<div
  class="text-white space-y-10 flex flex-col justify-center items-center my-32 "
>
  <p class="mx-5 text-center uppercase md:text-2xl">
    Spred budskabet og køb vores merch!
  </p>
  <Button>♥ SHOP</Button>
  <p class=" text-center md:text-2xl">
    Velkommen til havbunden!<br /> Lad os sammen holde den ren ♥
  </p>
</div>
