<h2>Spred budksabet og støt ved at købe vores merch</h2>
<button> </button>
<p>Velkommen til havbunden! lad os sammen holde den ren</p>
<img src="affald1.svg" alt="" />
<img src="affald2.svg" alt="" />
<img src="affald3.svg" alt="" />
<img src="affald4.svg" alt="" />
<img src="affald5.svg" alt="" />
<img src="affald6.svg" alt="" />
<img src="affald7.svg" alt="" />
