---
import Button from "./Button.astro";
---

<div
  class="text-white space-y-2 flex flex-col justify-center items-center mt-10"
>
  <p class="mx-5 text-center">
    Spred budksabet og støt ved at købe vores merch
  </p>
  <Button>♥ SHOP</Button>
  <p class="mx-5 text-center">
    Velkommen til havbunden!<br /> Lad os sammen holde den ren ♥
  </p>
</div>
